<!DOCTYPE html>
<html lang="en">
{{> head  }}
<body>
    <!--
        nav bar
    -->
    {{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Abount a Golden Security</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Aliquam sunt vel laudantium repellat, distinctio similique dolorum quas fuga, et error, 
            earum provident aliquid sint maxime magnam libero exercitationem illo obcaecati.
        </p>
    </div>
    <div class="col-4">
        <img src="/assets/img/imgGolden.jpg" class="img-thumbnail" width="40%"> 
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
    crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.min.js"> </script>

</body>
{{> footer }}
</html>